body
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    align-content: center;
    text-align: center;
    background-color: rgb(247, 223, 60);
}

.container
{
    width: 100%;
    background-color: rgb(109, 21, 21);
    height: auto;
    color: white;
    align-content: center;
    text-align: center;
}

p
{
    text-align: justify;
    padding: 5px;
}

a, a:hover, a:active
{
    color: white;
    font-style: italic;
}

#center
{
    text-align: center;
}

.topnav
{
    background-color: rgb(12, 11, 11);
    overflow: hidden;
    position: sticky;
    top: 0;
    border: 0.5;
    border-color: black;
    border-style: groove;
}

.topnav a
{
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover
{
    background-color: white;
    color: black;
}